################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebXNCovid/WebXNCovid/bin
/WebXNCovid/WebXNCovid/obj
/.vs
/WebXNCovid/.vs/WebXNCovid
/WebXNCovid/WebXNCovid/Properties/PublishProfiles
/WebXNCovid/packages/RestSharp.105.2.3
/WebXNCovid/packages/RestSharp.105.2.3
