################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebXNCovid/WebXNCovid/bin
/WebXNCovid/WebXNCovid/obj
/.vs
/WebXNCovid/.vs/WebXNCovid
