XNCovid/app/src/main/AndroidManifest.xml.rej
XNCovid/app/src/main/AndroidManifest_BACKUP_11184.xml
XNCovid/app/src/main/AndroidManifest_BASE_11184.xml
XNCovid/app/src/main/AndroidManifest_LOCAL_11184.xml
XNCovid/app/src/main/AndroidManifest_REMOTE_11184.xml
