@{
    Layout = "~/Views/Shared/_Layout5K.cshtml";
}

<div class="login-error-notify justify-centered">
    @ViewBag.EncodedHtml
    <div class="h-align-center pt-2 pb-2">
        <button type="button" class="btn btn-submit" onclick="window.location='/Account/Login';">Quay lại</button>
    </div>
</div>