@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}
@{
    ViewBag.Title = "ĐĂNG NHẬP";
}
<meta name="google-signin-client_id" content="659370823302-i45mk7n3pb7acojr3tdj0u0i65svnnae.apps.googleusercontent.com">
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-3">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                @*<p class="text-primary">@ViewBag.Title</p>*@
                <div class="mb-3">
                    <strong style="font-size: 30px" class="text-primary">@ViewBag.Title</strong>
                </div>
                <div id="my-signin2"></div>
                <div class="mt-2">
                    <p class="text-info">Bạn cần có tài khoản Gmail</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var tokenSigninViewModel = {};
        tokenSigninViewModel.Email = profile.getEmail();
        tokenSigninViewModel.TokenID = googleUser.getAuthResponse().id_token;
        console.log('onSignIn');
        googleUser.disconnect()
        $.ajax({
            url: '@Url.Action("TokenSignin","Account")',
            data: JSON.stringify({ model: tokenSigninViewModel }),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function(data){
                //call is successfully completed and we got result in data
                window.location.replace('../../QRCodeGenerator/Index')
            },
            error: function (){
                $.ajax({
                    url: '@Url.Action("Login","Account")'
                })
            }
        });
    }

    function onFailure(error) {
        console.log(error);
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSignIn,
            'onfailure': onFailure
        });
    }
</script>