
@if (Session["Email"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["Email"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        <li><a href="/Account/LogOut" onclick="signOut()">Log out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            window.location.href = '@Url.Action("Logout", "Account")';
        });
    }
</script>
